/* 1. CONFIGURACIÓN GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #121212; /* Fondo oscuro moderno */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}

/* 2. CONTENEDOR PRINCIPAL (La Tarjeta) */
.login-container {
    background-color: #1e1e1e;
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 400px;
    text-align: center;
    border: 1px solid #333;
}

h2 {
    margin-bottom: 1.5rem;
    color: #00ff88; /* Verde neón para el estilo Gym */
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* 3. ESTILOS DEL FORMULARIO */
#formLogin {
    display: flex;
    flex-direction: column;
    gap: 1.2rem; /* Espacio entre elementos */
}

label {
    text-align: left;
    font-size: 0.9rem;
    color: #bbb;
    margin-bottom: -0.8rem;
}

/* Inputs y Selects */
input, select {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #444;
    background-color: #2a2a2a;
    color: white;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

/* Efecto cuando haces clic en un campo */
input:focus, select:focus {
    border-color: #00ff88;
}

/* 4. BOTÓN DE INGRESO */
button {
    padding: 14px;
    border: none;
    border-radius: 6px;
    background-color: #00ff88;
    color: #121212;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    transition: transform 0.2s, background-color 0.3s;
    margin-top: 0.5rem;
}

button:hover {
    background-color: #00cc6e;
    transform: translateY(-2px); /* Efecto de levante */
}

button:active {
    transform: translateY(0);
}

/* 5. RESPONSIVE (Para celulares) */
@media (max-width: 480px) {
    .login-container {
        width: 90%;
        padding: 1.5rem;
    }
}


.register-link {
    margin-top: 1.5rem;
    font-size: 0.9rem;
    color: #bbb;
}

.register-link a {
    color: #00ff88;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.register-link a:hover {
    color: #00cc6e;
    text-decoration: underline;
}

.btn-asistencia {
    display: block;
    padding: 14px;
    border-radius: 6px;
    border: 1px solid #00ff88;
    background-color: transparent;
    color: #00ff88;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: transform 0.2s, background-color 0.3s, color 0.3s;
}

.btn-asistencia:hover {
    background-color: #00ff88;
    color: #121212;
    transform: translateY(-2px);
}